@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .vercel-button {
    @apply w-full rounded-md transition-all border  border-opacity-30 border-gray-700 hover:border-opacity-60 hover:border-black  p-2 text-gray-700;
  }
}

.fadeIn {
  -webkit-animation: fadein 0.4s, fadeout 0.4s 3s;
  animation: fadein 0.4s, fadeout 0.4s 3s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
